.post-list-container {
    width: 648px;
    display: flex;
    flex-wrap: wrap;
}

.post-list-container .post-element-small {
    width: 290px;
    /* min-width: 294px;
    max-width: 294px; */
    margin: 10px 16px;
    border: 1px solid #777777;
    border-radius: 18px;
    /* display: inline-block; */

    float: right;
}

.posts-list {
    display: flex;
    flex-direction: column;
}