<div class="post-response-full-container">
    <div class="post-header">
        <div class="char-box">
            <app-avatar-view class="char" [user]="post.username" [dir]="'right'" [goto]="true"></app-avatar-view>
        </div>

        <div class="text">
            <div class="header-username mat-title">{{post.username}}</div>
            <div class="header-title mat-caption">{{post.title}}</div>
        </div>

        <div class="options-btn">
            <button mat-icon-button class="like" (click)="clickLike()" [color]="post.liked ? 'accent' : 'white'">
                <div *ngIf="post.likes > 0" class="post-element-likes-value value-left">{{post.likes | shortNumber }}</div>
                <mat-icon>{{ post.liked ? 'favorite' : 'favorite_border' }}</mat-icon>
            </button>

            <button mat-icon-button>
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>

    </div>

    <div class="post-body">
        <div class="contents">
            {{post.contents.text}}
        </div>

        <div class="timestamp mat-caption">
            {{post.timestamp | date:'- h:mm aa - d MMM YY -' }}
        </div>

        <!-- <div class="buttons">
            <button mat-icon-button class="like post-btn" [color]="post.liked ? 'accent' : 'white'">
                <div *ngIf="post.likes > 0" class="post-element-likes-value">{{post.likes | shortNumber }}</div>
                <mat-icon>{{ post.liked ? 'favorite' : 'favorite_border' }}</mat-icon>
            </button>

            <button mat-icon-button class="comment post-btn">
                <img class="post-buttons-icon" src="./assets/images/ic_vectors/misc-icons/ic_chatbubble.svg">
                
            </button>

            <button mat-icon-button class="share post-btn">
                <img class="post-buttons-icon" src="./assets/images/ic_vectors/misc-icons/ic_send.svg">
            </button>
        </div> -->
    </div>
</div>