    <!-- <div [colspan]="6" [rowspan]="82" class="char-view-tile">
        <div class="char-view">
            <app-avatar-layered-view [wearing]="wearing"></app-avatar-layered-view>
        </div>
    </div> -->

<div class="avatar-customiser-container">
    <div class="customiser-columns customiser-left">

        <div class="selector" id="base">
            <button mat-icon-button (click)="shift('left', 'base')">
                <mat-icon class="button-icon">arrow_left</mat-icon>
            </button>
            
            <img class="selector-icon" src="/assets/images/ic_vectors/wardrobe/ic_body.svg" />
    
            <button mat-icon-button (click)="shift('right', 'base')">
                <mat-icon class="button-icon">arrow_right</mat-icon>    
            </button>
            
        </div>

        <div class="selector" id="hair">
            <button mat-icon-button (click)="shift('left', 'hair')">
                <mat-icon class="button-icon">arrow_left</mat-icon>
            </button>
            
            <img class="selector-icon" src="/assets/images/ic_vectors/wardrobe/ic_hair.svg" />
            
            <button mat-icon-button (click)="shift('right', 'hair')">
                <mat-icon class="button-icon">arrow_right</mat-icon>
            </button>
        </div>

        <div class="selector" id="haircolour">
            <button mat-icon-button (click)="shift('left', 'haircolour')">
                <mat-icon class="button-icon">arrow_left</mat-icon>
            </button>
            
            <img class="selector-icon" src="/assets/images/ic_vectors/wardrobe/ic_haircolour.svg" />
            
            <button mat-icon-button (click)="shift('right', 'haircolour')">
                <mat-icon class="button-icon">arrow_right</mat-icon>    
            </button>
        </div>

        <div class="selector" id="eyes">
            <button mat-icon-button (click)="shift('left', 'eyes')">
                <mat-icon class="button-icon">arrow_left</mat-icon>
            </button>
            
            <img class="selector-icon" src="/assets/images/ic_vectors/wardrobe/ic_eye.svg" />
            
            <button mat-icon-button (click)="shift('right', 'eyes')">
                <mat-icon class="button-icon">arrow_right</mat-icon>    
            </button>
        </div>

        <div class="selector" id="blush">
            <button mat-icon-button (click)="shift('left', 'blush')">
                <mat-icon class="button-icon">arrow_left</mat-icon>
            </button>
            
            <img class="selector-icon" src="/assets/images/ic_vectors/wardrobe/ic_blush.svg" />
            
            <button mat-icon-button (click)="shift('right', 'blush')">
                <mat-icon class="button-icon">arrow_right</mat-icon>    
            </button>
        </div>

        <div class="selector" id="lips">
            <button mat-icon-button (click)="shift('left', 'lips')">
                <mat-icon class="button-icon">arrow_left</mat-icon>
            </button>
            
            <img class="selector-icon" src="/assets/images/ic_vectors/wardrobe/ic_lips.svg" />
            
            <button mat-icon-button (click)="shift('right', 'lips')">
                <mat-icon class="button-icon">arrow_right</mat-icon>    
            </button>
        </div>


    </div>

    <div class="customiser-columns customiser-mid">
        <div class="mid-backing"></div>

        <div class="char-view">
            <app-avatar-layered-view [wearing]="wearing"></app-avatar-layered-view>
        </div>

    </div>

    <div class="customiser-columns customiser-right">

        <div class="selector" id="beard">
            <button mat-icon-button (click)="shift('left', 'beard')">
                <mat-icon class="button-icon">arrow_left</mat-icon>
            </button>
    
            <img class="selector-icon" src="/assets/images/ic_vectors/wardrobe/ic_beard.svg" />
            
            <button mat-icon-button (click)="shift('right', 'beard')">
                <mat-icon class="button-icon">arrow_right</mat-icon>
            </button>
        </div>

        <div class="selector" id="hat">
            <button mat-icon-button (click)="shift('left', 'hat')">
                <mat-icon class="button-icon">arrow_left</mat-icon>
            </button>
            
            <img class="selector-icon" src="/assets/images/ic_vectors/wardrobe/ic_hat.svg" />
            
            <button mat-icon-button (click)="shift('right', 'hat')">
                <mat-icon class="button-icon">arrow_right</mat-icon>    
            </button>
        </div>

        <div class="selector" id="glasses">
            <button mat-icon-button (click)="shift('left', 'glasses')">
                <mat-icon class="button-icon">arrow_left</mat-icon>
            </button>
            
            <img class="selector-icon" src="/assets/images/ic_vectors/wardrobe/ic_glasses.svg" />
            
            <button mat-icon-button (click)="shift('right', 'glasses')">
                <mat-icon class="button-icon">arrow_right</mat-icon>    
            </button>
        </div>

        <div class="selector" id="upper">
            <button mat-icon-button (click)="shift('left', 'upper')">
                <mat-icon class="button-icon">arrow_left</mat-icon>
            </button>
            
            <img class="selector-icon" src="/assets/images/ic_vectors/wardrobe/ic_upper.svg" />
            
            <button mat-icon-button (click)="shift('right', 'upper')">
                <mat-icon class="button-icon">arrow_right</mat-icon>    
            </button>
        </div>

        <div class="selector" id="lower">
            <button mat-icon-button (click)="shift('left', 'lower')">
                <mat-icon class="button-icon">arrow_left</mat-icon>
            </button>
            
            <img class="selector-icon" src="/assets/images/ic_vectors/wardrobe/ic_lower.svg" />
            
            <button mat-icon-button (click)="shift('right', 'lower')">
                <mat-icon class="button-icon">arrow_right</mat-icon>    
            </button>
        </div>

        <div class="selector" id="shoes">
            <button mat-icon-button (click)="shift('left', 'shoes')">
                <mat-icon class="button-icon">arrow_left</mat-icon>
            </button>
            
            <img class="selector-icon" src="/assets/images/ic_vectors/wardrobe/ic_shoes.svg" />
            
            <button mat-icon-button (click)="shift('right', 'shoes')">
                <mat-icon class="button-icon">arrow_right</mat-icon>    
            </button>
        </div>
    </div>
</div>