.post-element-small-container {
    padding: 12px;
    min-height: 128px;
    width: calc(100% - 32px - 2px);
    opacity: 0.8;
    margin-bottom: 40px;
    text-align: left;
    position: relative;
    transition: background-color 0.2s;

    border-radius: 16px;
    background: #202225;
    box-shadow:  16px 16px 32px #1a1c1e,
                -16px -16px 32px #26282c;
}
.post-element-small-container:hover {
    background-color: #51638b02;
}
.post-element-small-container .background {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 16px;

    top: 0;
    left: 0;
    z-index: 0;
}


/* HEADER */
.post-header {
    display: flex;
    flex-direction: row;
    height: 60px;
    position: relative;
    z-index: 2;
}
.post-header.text {
    display: flex;
    flex-direction: column;
    /* pointer-events: initial; */
}
.post-header .text .header-username {
    margin-top: 6px !important;
    margin-bottom: 0px !important;
    cursor: pointer;
    transition: opacity 0.2;
}
.post-header .text .header-username:active { opacity: 0.75; }
.post-header .text .header-title {
    margin-top: -2px !important;
    margin-bottom: 0px !important;
    margin-left: 2px !important;
    opacity: 0.5;
    font-style: italic;
}
.post-header .options-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    pointer-events: initial;
}
.post-header .options-btn button {
    height: 60px;
    pointer-events: initial;
    transition: background-color 0.3s;
}
.post-header .options-btn button:hover {
    background-color: #77777720;
}


.post-header > .char-box {
	height: 40px;
	width: 40px;
	margin: 8px;
	border-radius: 48px;
	background-color: white;
	
	transition: 0.3s;
	border: 4px solid #202225;
	
	cursor: pointer;
    position: relative;
}
.post-header > .char-box:hover { border: 4px solid var(--accent-color); }
.post-header .char {
    height: 48px;
    width: 48px;
    position: absolute;
    left: -4px;
    bottom: 4px;
}


/* BODY */
.post-body {
    width: 85%;
    margin: 0 7.5%;
    margin-top: 8px;
    position: relative;
    z-index: 0;    
    pointer-events: none;
}
.post-body .contents {
    /* min-height: 32px; */
    min-height: 48px;
    text-align: left;
    margin-bottom: 8px;
    /* pointer-events: initial; */
    line-break: anywhere;
}


.post-footer {
    height: 3em;
    width: 85%;
    margin: 0 7.5%;
    /* margin-bottom: -4px; */
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.post-footer .timestamp {
    opacity: 0.35;
    position: absolute;
    left: 0;
    margin-top: 2px;
}
.post-footer .like {
    position: absolute;
    right: 0;
}
.post-footer .post-btn          { transition: background-color 0.3s; border-radius: 32px; width: 40px; max-width: 40px;}
.post-footer .post-btn:hover    { background-color: #77777720; }
.post-footer .like              { margin: 0 var(--margin-width) 0 0; height: 100%; pointer-events: initial;}
.post-footer .post-buttons-icon { height: 20px; filter: invert(0.9); }

.post-footer .post-btn .post-element-likes-value {
    height: 24px;
    padding: 0 8px;
    margin: 12px 0;

    color: white;
    font-size: 12px;
    line-height: 24px;

    background-color: var(--accent-color);
    border-radius: 12px;

    position: absolute;
    top: 0;
    right: 36px;
    z-index: 2;

    opacity: 0; transform: translateY(-100%);
    animation: scroll-in 0.1s linear 0.25s 1 forwards;
}
@keyframes scroll-in {
    from    {opacity: 0; transform: translateY(-100%);}
    to      {opacity: 1; transform: translateY(0%);}
}