<div class="post-element-small-container">
    <div class="post-header">
        <div class="char-box">
            <app-avatar-view class="char" [dir]="'right'"></app-avatar-view>
        </div>

        <div class="text">
            <div class="header-username mat-title">{{post.username}}</div>
            <div class="header-title mat-caption">{{post.username}}</div>
        </div>

    </div>

    <div class="post-body">
        <div class="contents">
            {{post.contents.text}}
        </div>
    </div>
</div>
