<div class="sidebar-box">
    <div class="sidebar-icon-box">
        <img class="sidebar-icon-icon" [class.sidebar-icon-icon-selected]="selected == 0" (click)="selectIcon('profile')" src="./assets/images/ic_vectors/sidebar/ic_prof.svg" />
    </div>
    
    <div class="sidebar-icon-box">
        <img class="sidebar-icon-icon" [class.sidebar-icon-icon-selected]="selected == 1" (click)="selectIcon('feed')" src="./assets/images/ic_vectors/sidebar/ic_feed.svg" />
    </div>
    
    <div class="sidebar-icon-box">
        <img class="sidebar-icon-icon" [class.sidebar-icon-icon-selected]="selected == 2" (click)="selectIcon('connect')" src="./assets/images/ic_vectors/sidebar/ic_cnct.svg" />
    </div>
    
    <div class="sidebar-icon-box">
        <img class="sidebar-icon-icon" [class.sidebar-icon-icon-selected]="selected == 3" (click)="selectIcon('athenaeum')" src="./assets/images/ic_vectors/sidebar/ic_ath.svg" />
    </div>
    
    <div class="sidebar-icon-box">
        <img class="sidebar-icon-icon" [class.sidebar-icon-icon-selected]="selected == 4" (click)="selectIcon('leaderboard')" src="./assets/images/ic_vectors/sidebar/ic_ldrbrd.svg" />
    </div>
    
    <div class="sidebar-icon-box">
        <img class="sidebar-icon-icon" [class.sidebar-icon-icon-selected]="selected == 5" (click)="selectIcon('shop')" src="./assets/images/ic_vectors/sidebar/ic_shop.svg" />
    </div>
    
    <div class="sidebar-icon-box">
        <img class="sidebar-icon-icon" [class.sidebar-icon-icon-selected]="selected == 6" (click)="selectIcon('settings')" src="./assets/images/ic_vectors/sidebar/ic_settings.svg" />
    </div>
</div>