.profile-container {
    width: calc(100vw - 96px);
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    height: fit-content;
    overflow-x: hidden;
    overflow-y: scroll;
}

app-top-bar {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

.profile-main {
    width: 100%;
    position: absolute;
    top: 72px;
    right: 0;
    z-index: 2;
    margin-top: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.spacer {
    width: 100%;
}

.profile-avatar-box {
    height: 128px;
    width: 128px;
    border-radius: 128px;

    background-color: rgba(255, 255, 255, 0.75);
    position: relative;
}
.profile-char {
    height: 152px;
    width: 152px;

    position: absolute;
    left: -12px;
    bottom: 8px;
    z-index: 2;
    text-align: left;
}

.online-status-indicator {
    height: 22px;
    width: 22px;

    border-radius: 16px;
    background-color: rgb(12, 183, 12);

    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 3;
}

.username-text {
    margin: 16px 0 2px 0;
}
.title-text {
    opacity: 0.5;
}


.profile-stats-box {
    height: 68px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tri-cell-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 500px;
    height: inherit;
    position: relative;
}
.stats-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stats-box-text {
    margin-top: 4px;
    opacity: 0.6;
}
.wins-box, .class-box, .battles-box { height: 64px; min-width: 115px; }
.wins-box { position: absolute; left: 0 }
.class-box { 
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0) 
}
.battles-box { position: absolute; right: 0 }
app-custom-text { height: 38px; }


.profile-bio {
    width: 500px;
}
::ng-deep .bio-box .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
    color: #ffffff77;
}


.interact-box {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.interact-box .button {
    width: 230px;
    color: white;
}