.profile-container {
    width: calc(100vw - var(--sidebar-buffer));
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    height: fit-content;
    overflow-x: hidden;
    overflow-y: scroll;
}

.profile-main {
    width: 100%;
    position: absolute;
    top: 72px;
    right: 0;
    z-index: 2;
    margin-top: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.spacer {
    width: 100%;
}

.profile-avatar-sect {
    height: 136px;
    width: 136px;
    border-radius: 128px;
    position: relative;
}
.profile-avatar-box {
    height: 136px;
    width: 136px;
    border-radius: 128px;
    overflow: hidden;

    /* background-color: rgba(255, 255, 255, 0.8); */
    background-size: 648px;
    background-position-y: -94px;
    background-position-x: -132px;
    position: relative;
    z-index: 0;
}
.profile-char {
    height: 152px;
    width: 152px;

    position: absolute;
    left: -8px;
    bottom: 12px;
    z-index: 2;
    text-align: left;
}

.online-status-indicator {
    height: 22px;
    width: 22px;

    border-radius: 16px;
    background-color: rgb(12, 183, 12);

    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 3;
}
.partner-status-indicator {
    height: 34px;
    width: 34px;
    border-radius: 24px;
    background-color: var(--background-color);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
}
.add-partner-ico, .combat-ico {
    /* height: calc(100% - 14px);
    width: calc(100% - 12px);
    margin: 4px 6px; */
    opacity: 0.7;
    transition: opacity 0.3s;
    cursor: pointer;
}
mat-icon.add-partner-ico { 
    font-size: 24px; 
    margin: 4px 0;
} 
.add-partner-ico.svg, .combat-ico.svg { 
    height: calc(100% - 14px);
    width: calc(100% - 12px);
    margin: 4px 6px;

    filter: invert(0.85); 
} 
.add-partner-ico:hover, .combat-ico:hover   { opacity: 1; }
.add-partner-ico:active, .combat-ico:active { opacity: 0.7; }

.username-text {
    margin: 16px 0 2px 0;
}
.title-text {
    opacity: 0.5;
    font-style: italic;
}


.profile-stats-box {
    height: 68px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tri-cell-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 500px;
    height: inherit;
    position: relative;
}
.stats-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stats-box-text {
    margin-top: 4px;
    opacity: 0.6;
}
.wins-box, .class-box, .battles-box { height: 64px; min-width: 115px; }
.wins-box { position: absolute; left: 0 }
.class-box { 
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0) 
}
.battles-box { position: absolute; right: 0 }
app-custom-text { height: 38px; }


.bio-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.25rem;
    margin-bottom: 1.75rem;
    color: hsla(0, 0%, 100%, 0.75);
}
.profile-bio {
    width: calc(500px - 6rem);
    min-height: 2rem;
    line-height: 2rem;
    padding: 1rem 3rem;
    text-align: left;
    border-radius: 2rem;
    background: #202225;
    box-shadow:  16px 16px 32px #1a1c1e,
                -16px -16px 32px #26282c;
}
/* ::ng-deep .bio-box .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
    color: #ffffff77;
} */



.interact-box {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.interact-box .button {
    width: 230px;
    color: white;
}
.disabled-btn {
    opacity: 0.5;
    cursor: auto;
}

.profile-avatar-box.extended, .profile-avatar-sect.extended {
    width: 232px;
}
.profile-avatar-box.extend, .profile-avatar-sect.extend {
    animation: width-extend 0.4s ease-in-out 1s 1 normal forwards;
}
.profile-char.extended {
    left: -2px;
}
.profile-char.extend {
    transition: left 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
    left: -2px;
}
@keyframes width-extend {
    from    { width: 136px }
    to      { width: 232px }
}


.profile-partner {
    height: 80px;
    width: 80px;

    position: absolute;
    right: 40px;
    bottom: 12px;
    z-index: 2;
    text-align: left;
    transform: scaleX(-1);
}
.profile-partner.walk-away {
    animation: slide-out 1.25s linear 0.25s 1 forwards;
    transform: scaleX(1);
}
@keyframes slide-out {
    0%    { right: 40px}
    100%  { right: -80px}
}