<div class="email-usage-container">
    <div class="mat-title">Email Usage</div>
    <mat-divider></mat-divider>
    <br>
    
    <div class="WordSection1">

        <p class=MsoNormal style='margin-bottom:0cm'><b><span style='font-size:14.0pt;
        font-family:"Arial",sans-serif;color: white'>General Email Usage</span></b></p>
        
        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
        style='font-size:12.0pt;font-family:"Arial",sans-serif;color: white'>&nbsp;</span></p>
        
        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
        style='font-size:10.0pt;font-family:"Arial",sans-serif;color:#ffffff7e'>After
        creating an account, your email will be used for the following, as per the
        Terms and Conditions agreed by the user.</span></p>
        
        <ul type=square>
         <li class=MsoNormal style='color: white;line-height:normal'><span
             style='font-family:"Arial",sans-serif;color:#ffffff7e;'>To
             contact the user regarding changes or updates to their account.</span></li>
         <li class=MsoNormal style='color: white;line-height:normal'><span
             style='font-family:"Arial",sans-serif;color:#ffffff7e;'>To
             contact the user in the event of a password reset.</span></li>
         <li class=MsoNormal style='color: white;line-height:normal'><span
             style='font-family:"Arial",sans-serif;color:#ffffff7e;'>To
             contact the user regarding suspicious behaviour on their account.</span></li>
         <li class=MsoNormal style='color: white;line-height:normal'><span
             style='font-family:"Arial",sans-serif;color:#ffffff7e;'>To
             contact the user in the event of a breach of the agreed Term and
             Conditions.</span></li>
        </ul>
        
        <p class=MsoNormal style='line-height:normal'><span style='font-size:12.0pt;
        font-family:"Arial",sans-serif;color: white'>&nbsp;</span></p>
        
        <p class=MsoNormal style='margin-bottom:0cm'><b><span style='font-size:14.0pt;
        font-family:"Arial",sans-serif;color: white'>Opt-In Email Announcement Service</span></b></p>
        
        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
        style='font-size:12.0pt;font-family:"Arial",sans-serif;color: white'>&nbsp;</span></p>
        
        <p class=MsoNormal style='margin-bottom:0cm;line-height:normal'><span
        style='font-size:10.0pt;font-family:"Arial",sans-serif;color:#ffffff7e'>Should
        the user opt-in to this service, they may receive email communications such as
        the following.</span></p>
        
        <ul type=square>
         <li class=MsoNormal style='color: white;line-height:normal'><span
             style='font-family:"Arial",sans-serif;color:#ffffff7e;'>General
             announcements made by the Alpha development team.</span></li>
         <li class=MsoNormal style='color: white;line-height:normal'><span
             style='font-family:"Arial",sans-serif;color:#ffffff7e;'>Information
             regarding changes between updated versions of the Alpha Link service.</span></li>
         <li class=MsoNormal style='color: white;line-height:normal'><span
             style='font-family:"Arial",sans-serif;color:#ffffff7e;'>Community
             engagement and outreach messages, such as competitions, giveaways, polls,
             etc.</span></li>
        </ul>
        
    </div>
    <br />

</div>