.challenge-container {
    height: 116px;
    padding: 16px 24px;

    width: 478px;
    border-radius: 172px;
    background: #202225;
    box-shadow:  16px 16px 32px #1a1c1e,
                -16px -16px 32px #26282c;
    margin: 1.5rem;
}

.challenger-display {
    display: inline-block;
    height: 116px;
    width: 198px;
    border-radius: 128px;
    overflow: hidden;

    /* background-color: rgba(255, 255, 255, 0.8); */
    background-size: 648px;
    background-position-y: -80px;
    background-position-x: -112px;
    position: relative;
    z-index: 0;

    pointer-events: none;
    opacity: 0.85;

    
}
.avatar {
    height: 130px;
    width: 130px;
    position: absolute;
    left: -6px;
    bottom: 12px;
    z-index: 2;
    text-align: left;
}
.partner {
    height: 68px;
    width: 68px;

    position: absolute;
    right: 36px;
    bottom: 12px;
    z-index: 2;
    text-align: left;
    transform: scaleX(-1);
}

.challenger-details {
    display: inline-block;
    width: calc(100% - 198px);
    text-align: left;
    vertical-align: top;
}
.details-challenger { 
    margin: 10px 0 0 12px;
    font-size: 20px;
    line-height: 20px;
 }
.details-title { 
    margin: 2px 0 0 18px;
    opacity: .5;
    font-style: italic;
}
.details-monname {
    margin: 5px 0 0 20px;
    font-size: 18px;
    line-height: 18px;
    opacity: 0.85;
}
.details-pill-accept-div {
    margin: 11px 0 0 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.btn {
    margin-left: 20px;
    width: 9.5rem;
    height: 26px;
    line-height: 26px;
    color: white;
}