<div class="topbar-container">
    <div class="topbar">
        <mat-form-field *ngIf="session.showTopBarSearch" appearance="outline" class="custom-input mat-white searchbar" [class.searchbar-active]="searchTerm.length > 0">
            <input #searchInput="ngModel" matInput [placeholder]="session.topBarPlaceholderText" name="searchbar" [(ngModel)]="searchTerm" (keyup.enter)="go()" (keyup)="press($event)">
            <mat-icon matSuffix class="input-icon-btn" (click)="go()">search</mat-icon>
        </mat-form-field>

        <img class="top-btn" src="./assets/images/ic_vectors/sidebar/ic_notif.svg" />
        
        <div class="char-box">
            <app-avatar-view class="char" [dir]="'left'"></app-avatar-view>
        </div>
    </div>
</div>